<template>
  <div class="container">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 col-sm-12">
            <div v-if="addStatus === 201" class="alert alert-success text-center" role="alert" id="alert-invalid-data">
                <h4 class="alert-heading">Product added successfully</h4>
            </div>
            <div v-if="addStatus != 201 && addStatus != null" class="alert alert-warning text-center" role="alert" id="alert-invalid-data">
                <h4 class="alert-heading">❌ Can not add product ❌</h4>
                <hr>
                <p class="mb-0">Fill all fields in the below form</p>
            </div>
            <div class="form-group">
                <label for="productName">Product name</label>
                <input type="text"  v-model="product.name" class="form-control" id="productName" placeholder="Enter product name">
            </div>
            <div class="form-group">
                <label for="productBrand">Product brand</label>
                <input type="text" v-model="product.brand" class="form-control" id="productBrand" placeholder="Enter product brand">
            </div>
            <div class="form-group">
                <label for="productDescription">Product description</label>
                <input type="text" v-model="product.description" class="form-control" id="productDescription" placeholder="Enter product description">
            </div>
            <div class="form-group">
                <label for="productCategory">Product category</label><br/>
                <select v-model="product.category">
                    <option v-for="category in categories" v-bind:key="category" :value="category">
                        {{ category }}
                    </option>
                </select>  
            </div>
            <div class="form-group">
                <label for="productPrice">Product price</label>
                <input type="number" v-model="product.price" class="form-control" id="productPrice" placeholder="Enter product price">
            </div>
            <div class="form-group">
                <label for="productSize">Product size</label>
                <input type="text" v-model="product.size" class="form-control" id="productSize" placeholder="Enter product size">
            </div>
            <div class="form-group">
                <label for="productAmount">Product amount</label>
                <input type="number" v-model="product.amount" class="form-control" id="productAmount" placeholder="Enter product amount">
            </div>
            <button type="submit" class="btn btn-success" @click="addProduct()">Add product</button>
        </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue';
import { ProductCategoryService } from '../services/';
import { ProductService } from '../services/';

export default defineComponent ({
  name: 'AddProductForm',
  data () {
        return {
            categories: [],
            addStatus: null,
            product: {
                name: null,
                brand: null,
                description: null,
                category: null,
                price: null,
                amount: null,
                size: null,
            }
        }
    },
  mounted () {
        ProductCategoryService.getAll()
            .then(response => {
                this.categories = response
            });
  },
  methods: {
    addProduct(){
        ProductService.add(this.product)
            .then(response => this.addStatus = response.status);
        //this.$router.go(0);
    }
  }
});
</script>