<template>
  <div class="container mt-4">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 col-sm-12">
            <div v-if="addStatus === 201" class="alert alert-success text-center" role="alert" id="alert-invalid-data">
                <h4 class="alert-heading">Account created successfully</h4>
            </div>
            <div v-if="addStatus != 201 && addStatus != null" class="alert alert-warning text-center" role="alert" id="alert-invalid-data">
                <h4 class="alert-heading">❌ Can not create user ❌</h4>
                <hr>
                <p class="mb-0">Fill all fields in the below form</p>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text"  v-model="user.name" class="form-control" id="name" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="surname">Surname</label>
                <input type="text" v-model="user.surname" class="form-control" id="surname" placeholder="Enter surname">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" v-model="user.email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else</small>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" v-model="user.address" id="address" placeholder="Enter address">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" v-model="user.password" id="password" placeholder="Enter password">
            </div>
            <div class="form-group">
                <label for="repeat_password">Repeat password</label>
                <input type="password" class="form-control" id="repeat_password" placeholder="Repeat password">
            </div>
            <div class="form-group">
                <label for="phone">Phone number</label>
                <input type="number" v-model="user.phone_number" class="form-control" id="phone" placeholder="Enter phone number">
            </div>
            <button type="submit" class="btn btn-success" @click="addUser()">Create account</button>
        </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue';
import { UserService } from '../services/';
import router from '../helpers/router';


export default defineComponent ({
  name: 'AddUserForm',
  data () {
        return {
            addStatus: null,
            user: {
                name: null,
                surname: null,
                phone_number: null,
                password: null,
                email: null,
            }
        }
    },
  mounted () {
  },
  methods: {
    addUser(){
        UserService.add(this.user)
            .then(response => {
                this.addStatus = response.status
                router.push('/login');
                });
    }
  }
});
</script>