<template>
  <div class="container mt-4">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 col-sm-12">
            <div v-if="loginStatus == 200" class="alert alert-success text-center" role="alert" id="alert-invalid-data">
                <h4 class="alert-heading">Logged in!</h4>
            </div>
            <div v-if="loginStatus != 200 && loginStatus != null" class="alert alert-warning text-center" role="alert" id="alert-invalid-data">
                <h4 class="alert-heading">❌ Can not log in ❌</h4>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" v-model="email" id="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" v-model="password" id="password" placeholder="Enter password">
            </div>
           
            <button type="submit" class="btn btn-success" @click="login()">Log in</button>
            <br/><a href="/signup">Register</a> if you don't have an account
        </div>
    </div>
  </div>
</template>

<script>
import router from '../helpers/router';
import { defineComponent } from 'vue';
import { LoginService } from '../services/';

export default defineComponent ({
  name: 'LoginForm',
  data () {
        return {
            email: null,
            password: null,
            loginStatus: null
        }
    },
  mounted () {
  },
  created(){
      localStorage.removeItem('user');
  },
  methods: {
    login(){
        LoginService.login({email: this.email, password: this.password})
            .then(() => {
                router.push("/home")
            })
            .catch(errorMsg => this.errorMessage = this.parseErrorMsg(errorMsg));
    },
    parseErrorMsg(errorMsg) {
        var msg = [];
        var keys = Object.keys(errorMsg);
        keys.forEach(function(key) {
            msg.push(key + ' ' + errorMsg[key]);
        });
        console.log(msg);
        return msg;
    },
  }
});
</script>