<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <!--<li class="nav-item active">
            <a v-if="getRole() == 2" class="nav-link" href="#">Profile<span class="sr-only">(current)</span></a>
        </li>-->
        <li class="nav-item">
            <a v-if="this.user.role === 2" class="nav-link" href="/cart">Cart</a>
        </li>
        <li class="nav-item">
            <a v-if="this.user.role === 2" class="nav-link" href="/orders">Orders</a>
        </li>
        <li class="nav-item">
            <a v-if="this.user.role === 1" class="nav-link" href="/product/add">Add product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" onclick="return logout()" href="/login">Log out</a>
        </li>
        </ul>
    </div>
    </nav>
</template>

<script>
//import router from '../helpers/router';

export default {
    name: 'Navbar',
    data () {
        return {
            user: {}
        }
    },
    mounted(){
        this.user = JSON.parse(localStorage.getItem('user'));
        return this.user;
    },
    methods: {
        logout(){
            console.log('remove');
            localStorage.removeItem('user');
        }
    }
}
</script>

