<template>
  <div class="container">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 col-sm-12">
        <div v-if="addToCartStatus === 201" class="alert alert-success text-center" role="alert" id="alert-invalid-data">
            <h4 class="alert-heading">Product added to cart!</h4>
        </div>
        <div v-if="addToCartStatus != 201 && addToCartStatus != null" class="alert alert-warning text-center" role="alert" id="alert-invalid-data">
            <h4 class="alert-heading">❌ Can not add product to cart❌</h4>
        </div>
        <table class="table">
        <thead>
            <tr>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th v-if="getRole() !=  null" scope="col">Actions</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="product in products" :key="product.id">
            <td>{{product.name + " by " + product.brand }}<br/><i>{{product.description}}</i></td>
            <th scope="row">{{product.price}} PLN</th>
            <td>
                <button v-if="getRole() == 2" type="button" @click="addToCart(product)" class="btn btn-success mx-1">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>

                <button v-if="getRole() != null" type="button" @click="detailsList[getProductId(product)] = !
                    detailsList[getProductId(product)]" class="btn btn-secondary mx-1">
                    <i class="fa fa-info-circle" aria-hidden="true"></i></button>

                <button v-if="getRole() == 1" type="button" @click="deleteProduct(product)" class="btn btn-danger mx-1">
                    <i class="fa fa-trash" aria-hidden="true"></i></button>

            </td>
            <td v-if="getRole() != null && detailsList[getProductId(product)]">
                Only <b> {{ product.amount}} </b> items left in the stock!
            </td>
            <td v-if="getRole() != null && !detailsList[getProductId(product)]">
                Check product availability in size <b>{{product.size}}</b>!
            </td>
            </tr>
        </tbody>
        </table>
        </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue';
import { ProductService } from '../services/';
import { CartService } from '../services/';

export default defineComponent ({
  name: 'ProductsTable',
  data () {
        return {
            products: [],
            showDetails: [],
            detailsList: [],
            addToCartStatus: null
       }
    },
  mounted () {
        ProductService.getAll()
            .then(response => {
                this.products = response
                for(let i = 0; i < this.products.length; i++){
                    this.detailsList.push(false);
                }
            });
  },
  methods: {
    deleteProduct(product) {
        console.log('Delete product id=' + product.id);
        
        let r = confirm("Do you want to delete this product?")
        if (r == true) {
            ProductService.deleteProduct(product.id);
            this.$router.go(0);
        }
      },
    getProductId(val){
        return this.products.indexOf(val);
      },
    getImageUrl(id){
        return ProductService.getImage(id);
    },
    addToCart(product){
        CartService.add(JSON.parse(localStorage.getItem('user')).email, 
                        {product_id: product.id}).
            then(response => this.addToCartStatus = response.status);
    },
    getRole(){
        let user = JSON.parse(localStorage.getItem('user'));
            if (user != null) { return user.role; }
            else { return null; }
    }
  }
});
</script>