<template>
  <div class="container">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 col-sm-12">
        <div v-if="orderPlacementStatus === 201" class="alert alert-success text-center" role="alert" id="alert-invalid-data">
            <h4 class="alert-heading">Order submitted!</h4>
        </div>
        <div v-if="orderPlacementStatus != 201 && orderPlacementStatus != null" class="alert alert-warning text-center" role="alert" id="alert-invalid-data">
            <h4 class="alert-heading">❌ Can not submit order❌</h4>
        </div>
        <table class="table">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Brand</th>
            <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="p in products" :key="p.id">
            <th scope="row">{{p.name}} </th>
            <th scope="row">{{p.brand}} </th>
            <th scope="row">{{p.price}} PLN</th>
            </tr>
        </tbody>
        </table>
        <div class="col-lg-6 offset-lg-3 col-sm-12">
            <h2>Total sum: {{this.total}} PLN</h2><br/>
            <button type="button" class="btn btn-danger mx-2" 
              @click="deleteCartContent()">Opróżnij koszyk</button>
            <button type="button" class="btn btn-success mx-2" @click="placeOrder()">Złóż zamówienie</button>
        </div>
        </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue';
import { CartService } from '../services/';
import { ProductService } from '../services';
import { OrderService } from '../services';

export default defineComponent ({
  name: 'ShowCart',
  data () {
        return {
            cartProductIds: [],
            products: [],
            orderPlacementStatus : null,
            user: null,
            total: 0
       }
    },
  mounted () {
    this.user = JSON.parse(localStorage.getItem('user'));
    CartService.getProducts(this.user.email)
        .then(response => {
            this.cartProductIds = response;
            for(let i = 0; i < this.cartProductIds.length; i++) {
              ProductService.getOne(this.cartProductIds[i])
                .then(response => {
                  this.products.push(response)
                  this.total += response.price;
                  });
            }
          });
  },

  methods: {
    placeOrder(){
        OrderService.addOrder({email: this.user.email, address: this.user.address,
          products: this.cartProductIds}).
          then(response => {
            console.log(response);
            this.orderPlacementStatus = response.status});
        this.$router.go(0);
    },
    deleteCartContent(){
        CartService.empty(this.user.email);
        this.$router.go(0);

    },
    getImageUrl(id){
        return ProductService.getImage(id);
    }
  }
});
</script>