<template>
  <div class="container">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 col-sm-12">
        <table class="table">
        <thead>
            <tr>
            <th scope="col">Order submission date</th>
            <th scope="col">Estimated delivery date</th>
            <th scope="col"></th>
            <th scope="col">See order details</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="order in orders" :key="order.id">
            <th scope="row">{{order.order_submission_date}}</th>
            <th scope="row">{{order.estimated_delivery_date}}</th>
            <td>
                <button type="button" @click="showDetailsList[getOrderId(order)] = !
                    showDetailsList[getOrderId(order)]" class="btn btn-secondary mx-1">
                    <i class="fa fa-info-circle" aria-hidden="true"></i></button>
            </td>
            <td v-if="showDetailsList[getOrderId(order)]">
                {{order.delivery_address}}<br/>{{order.products}}
            </td>
            <td v-if="!showDetailsList[getOrderId(order)]"/>
            </tr>
        </tbody>
        </table>
        </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue';
import { ProductService } from '../services';
import { OrderService } from '../services';

export default defineComponent ({
  name: 'ShowOrders',
  data () {
        return {
            orders: [],
            ordersProducts: [],
            showDetailsList: [],
            user: null
      }
  },
  mounted () {
    this.user = JSON.parse(localStorage.getItem('user'));
    OrderService.getOrders(this.user.email)
        .then(response => {
            this.orders = response;
            for(let i = 0; i < this.orders.length; i++){
                this.showDetailsList.push(false);
            }
          })
  },

  methods: {
    getOrderId(val){
        return this.orders.indexOf(val);
      },
    getProduct(id){
      return ProductService.getOne(id);
    },
    getOrderProducts(id){
      var orderProductsNames = []
      for(let i=0; i<this.orders[id-1].products.length;i++){
        ProductService.getOne(this.orders[id-1].products[i])
          .then(response => {
            orderProductsNames.push(response.name);
          })
        //console.log(orderProductsNames);
      }
      //console.log(orderProductsNames);
      return orderProductsNames;
    }
  }
});
</script>