<template>
<div class="container-fluid px-0">
    <Navbar/> 
    <AddProductForm/>
</div>
</template>

<script>
import Navbar from '../components/Navbar'
import AddProductForm from '../components/AddProductForm.vue'

export default {
    components: { Navbar, AddProductForm }
};
</script>
