<template>
<div class="container-fluid px-0">
    <AddUserForm/>
</div>
</template>

<script>
import AddUserForm from '../components/AddUserForm.vue'

export default {
    components: { AddUserForm }
};
</script>
