<template>
<div class="container-fluid px-0">
    <Navbar/>
    <ProductsTable/>
</div>
</template>

<script>
import ProductsTable from '../components/ProductsTable';
import Navbar from '../components/Navbar'

export default {
    components: { ProductsTable, Navbar }
};
</script>
