<template>
<div class="container-fluid px-0">
    <LoginForm/>
</div>
</template>

<script>
//import Navbar from '../components/Navbar'
import LoginForm from '../components/LoginForm.vue'

export default {
    components: { LoginForm }
};
</script>
