<template>
<div class="container-fluid px-0">
    <Navbar/>
    <ShowCart/>
</div>
</template>

<script>
import Navbar from '../components/Navbar'
import ShowCart from '../components/ShowCart.vue'

export default {
    components: { ShowCart, Navbar }
};
</script>
