<template>
<div class="container-fluid px-0">
    <Navbar/>
    <ShowOrders/>
</div>
</template>

<script>
import Navbar from '../components/Navbar'
import ShowOrders from '../components/ShowOrders.vue'

export default {
    components: { ShowOrders, Navbar }
};
</script>
